
.button-light{
   background-color: rgb(195, 187, 187);
   color: black;
}

.button-dark{
    background-color: rgb(92, 91, 91);
 }

 .button-blue{
    background-color: rgb(92, 91, 91);
 }

 .card-deck{
    width: 300px!important;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
 }

 .OneLogoContainer img{
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.OneLogoContainer{
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: 200px;
}
