@import '~src/scss/base.scss';

.navbar {
    border-bottom: solid;
    margin-bottom: 50px;
    padding-top: 2px;
    padding-bottom: 2px;
}
#navbar-brand-img{
    width: 45px;
}
#navbar-brand{
    font-weight: bold;
    text-decoration: none;
}
.dropdown{
    cursor: pointer;
    margin-left: -3%;
}
.dropdown-menu {
    border: solid;
    position: absolute; 
    margin-top: 6px;
}
.dropdown-item {
    height: 45px;
    padding-top: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 768px){
    .nav-link{
        height: 55px;
        vertical-align: middle;
        display: table-cell;
        margin-top: -5px;
        margin-bottom: -5px;
    }
    .navbar-right .dropdown-menu{
        margin-left: -50%;        
    }
}
.form-inline{
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 20px;
}
.form-control:focus {   
    outline: 0;
    box-shadow: 0 0 0 0.2rem $boxShadowColor;
}
.btn-success:focus, .btn-success.focus {
    box-shadow: 0 0 0 0.2rem $boxShadowColor;
}
.one-form-control:focus {   
    outline: 0;
    box-shadow: 0 0 0 0.2rem $boxShadowColor;
}
.testform-control:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.one-btn-success:focus, .btn-success.focus {
    box-shadow: 0 0 0 0.2rem $boxShadowColor;
}
.form-inline[_ngcontent-c1] {
     margin-top: 8px;
}
.nav-link{
    height: 45px;
    padding-left: 1rem!important;
    padding-right: 1rem!important;
   }