<nav class="navbar navbar-expand-md navbar-light">

    <div class="navbar-brand" ><a id="navbar-brand" routerLink="/"><img id="navbar-brand-img" src="/src/One.png" >Navbar</a></div>

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsing-navbar" aria-contorls="collapsing-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="collapsing-navbar">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link" routerLink="/Home">Home</a></li>
        <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown">
                  Dropdown0
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="/Home">Action</a>
                  <a class="dropdown-item" routerLink="/Home">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" routerLink="/Home">Something else here</a>
                </div>
              </li>

        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link" routerLink="/Options">Options</a></li>
        <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown1
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="/Home">Action</a>
                  <a class="dropdown-item" routerLink="/Home">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" routerLink="/Home">Something else here</a>
                </div>
              </li>

    </ul>
    <ul class="navbar-nav navbar-right">

        <li> 
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search site" aria-label="Search">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </li>
            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Register
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" routerLink="/Home">SignUp</a>
                      <a class="dropdown-item" routerLink="/Home">Options</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" routerLink="/Home">Environment</a>
                    </div>
                  </li>
    </ul>    
</div>

</nav>