@import '~src/scss/styles.scss';

.navbar {
    background-color: #f8f8f8;
    border-color: #e7e7e7!important;
    border-bottom: solid;
    margin-bottom: 50px;
    padding-top: 2px;
    padding-bottom: 2px;
}
#navbar-brand-img{
    width: 45px;
}
#navbar-brand{
    font-weight: bold;
    color: $darkBrown;
    text-decoration: none;
}
.dropdown{
    cursor: pointer;
    margin-left: -3%;
}
.dropdown-menu {
    color: #212529;
    background-color: #f8f8f8;
    border-color: #e7e7e7!important;
    border: solid;
    position: absolute; 
    margin-top: 6px;
}
.dropdown-item {
    color:rgba(0, 0, 0, 0.5);
    height: 45px;
    padding-top: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.dropdown-item:hover {
   color: rgba(0, 0, 0, 0.7);
}
@media (max-width: 768px){
    button:focus {
        background-color: rgba(226, 222, 222, 0.17);
        border-color: rgba(183, 179, 179, 0.47);
        outline: 5px auto rgba(99, 91, 91, 0.24);
    }
    .dropdown-item:focus {
            outline: 5px auto rgba(99, 91, 91, 0.24);
            background-color: rgba(226, 222, 222, 0.17);
    }


}
.nav-link{
    height: 45px;
    padding-left: 15px;

   }
@media (min-width: 768px){
    .nav-link{
        height: 55px;
        vertical-align: middle;
        display: table-cell;
        margin-top: -5px;
        margin-bottom: -5px;
    }
    .nav-link:hover{
        background-color: #f2f4f6f5
    }
    .navbar-right .dropdown-menu{
        margin-left: -50%;        
    }
    .dropdown-item:hover {
        background-color:#f2f4f6f5;
     }
}
.form-inline{
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 20px;
}
.form-control:focus {   
    outline: 0;
    box-shadow: 0 0 0 0.2rem $boxShadowColor;
}
.btn-success:focus, .btn-success.focus {
    box-shadow: 0 0 0 0.2rem $boxShadowColor;
}
.one-form-control:focus {   
    outline: 0;
    box-shadow: 0 0 0 0.2rem $boxShadowColor;
    border-color: $boxBorderColor;
}
.testform-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.one-btn-success:focus, .btn-success.focus {
    box-shadow: 0 0 0 0.2rem $boxShadowColor;
}
.one-btn-success {
    color: $oneBtnSuccessColor;
    background-color: $oneBtnSuccessBackgroundColor;
    border-color: $oneBtnSuccessBorderColor;
}
.one-btn-success:hover {
    color: #fff;
    background-color: $oneBtnSuccessHoverBackgroundColor;
    border-color: $oneBtnSuccessHoverBorderColor;
}
.one-btn-success:not(:disabled):not(.disabled):active, .one-btn-success:not(:disabled):not(.disabled).active, .show > .one-btn-success.dropdown-toggle {
    color: #fff;
    background-color: $oneBtnSuccessActiveBackgroundColor;
    border-color: $oneBtnSuccessActiveBorderColor;
}
.form-inline[_ngcontent-c1] {
     margin-top: 8px;
}
