.NavbarLogoContainer img{
    visibility: hidden;
}
.NavbarLogoContainer{
    background-image: url(
        $oneLogoSmall
    ); 
    background-repeat: no-repeat;
    background-size: 45px;
    height: 45px;
}
.OneLogoContainer img{
    display: none;
}
.OneLogoContainer{
    background-image: url(
        $oneLogoLarge
    ); 
}
.NavbarLogoContainer {    
    color: $navbarProjectName;
}
.GitHubLogoContainer img{
    display: none;
}
.GitHubLogoContainer{
    background-image: url(
        $gitHubLogo
    ); 
    background-repeat: no-repeat;
    background-size: 32px;
    width: 32px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-color: $bodyBG;
    color: $bodyFont
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: $hFont
}
a{
    color: $aFont;
}
.navbar, .card-header{
    background-color: $navbarBG;
    border-color: $navbarBorder;
}
.card-header{
    color:$cardHeaderFont;
}
.nav-link, .dropdown-item{
    color:$navLinkFont!important;
}
.card{
    background-color: $cardContainerBG;
}
.card-block.container{
    background-color: $cardContainer;
}
.one-search-btn {
    background-color: $searchBtnBG;
    color: $searchBtnFont;
    border-color: $navbarBorder;
}
.one-search-btn:hover {
    background-color: $searchBtnBG-Hover;
    color: $searchBtnFont-Hover;
    border-color: $searchBtnBG-Hover;
}
.one-search-btn:focus,.one-search-box:focus  {
    box-shadow: 0 0 0 0.2rem $navbarBorder;
}
.one-search-btn:focus {
    background-color: $searchBtnBG-Focus;
}
.dropdown-menu {
    background-color: $ddBG;
    border-color: $navbarBorder
}
.dropdown-divider{
    border-color:$navbarBorder;
}
.form-control{
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.nav-link:hover{
    background-color: $navItemHover;
}
.dropdown-item:hover {
    background-color:$navItemHover
 }