/* TGD Color Palette */

$squashFlowerPetals: #dfa214;
$squashFlowerCenter: #d29c18;

$squashLeaves: #2e6d06;
$squashLeavesDark: #33581d;
 
$squashStemDark: #9fb53a;
$squashStemDark: #9fb53a;
$squashStemLight: #e7f3a5;
$coconutMulch: #8b562e;
$dirt: #27291c;


$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:        $squashFlowerPetals;
$yellow:  #ffc107 !default;
$green:         $squashLeaves;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$lightBrown:    $coconutMulch;
$darkBrown:     $dirt;


$focusGreen: rgba(40, 167, 70, 0.623);
$focusGreen0: rgb(40, 167, 70);
$focusGreen1: rgba(40, 167, 70, 0.87);
$focusGreen2: rgba(40, 167, 70, 0.774);
$focusGreen3: rgba(40, 167, 70, 0.623);
$focusGreen4: rgba(40, 167, 70, 0.534);


$green0: #2e6d06;
$green1: #2d6d06e0;
$green2: #2d6d06b9;
$green3: #2d6d0698;
$green4: #2d6d0671;


$boxShadowColor: $gray-200;
$boxBorderColor: $gray-400;

// $oneBtnSuccessBackgroundColor: $gray-300;
// $oneBtnSuccessColor: $gray-800;
// $oneBtnSuccessBorderColor: $gray-400;

// $oneBtnSuccessHoverBackgroundColor: $gray-600;
// $oneBtnSuccessHoverBorderColor: $gray-700 ;

$oneBtnSuccessBackgroundColor: $gray-700;
$oneBtnSuccessBorderColor: $gray-800;
$oneBtnSuccessColor: $gray-200;

$oneBtnSuccessHoverBackgroundColor: $gray-600;
$oneBtnSuccessHoverBorderColor: $gray-700 ;
$oneBtnSuccessHoverColor: $gray-700;

$oneBtnSuccessActiveBackgroundColor: $gray-800;
$oneBtnSuccessActiveBorderColor: $gray-900 ;

$One-Black : #000;
$One-Gray0 : #252525;
$One-Gray1 : #303030;
$One-Gray2 : #353535;
$One-Gray3 : #404040;
$One-Gray4 : #454545;
$One-Gray5 : #505050;
$One-Gray6 : #555555;
$One-Gray7 : #606060;
$One-Gray8 : #656565;
$One-Gray9 : #707070;
$One-Gray10 : #757575;
$One-Gray11 : #808080;
$One-Gray12 : #858585;
$One-Gray13 : #909090;
$One-Gray14 : #959595;
$One-Gray15 : #a1a1a1;
$One-Gray16 : #b1b1b1;
$One-Gray17 : #c1c1c1;
$One-Gray18 : #d1d1d1;
$One-Gray19 : #e1e1e1;
$One-Gray20 : #f1f1f1;
$One-White: #fff;

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;