/* TGD Color Palette */

$squashFlowerPetals: #dfa214;
$squashFlowerCenter: #d29c18;

$squashLeaves: #2e6d06;
$squashLeavesDark: #33581d;
 
$squashStemDark: #9fb53a;
$squashStemDark: #9fb53a;
$squashStemLight: #e7f3a5;
$coconutMulch: #8b562e;
$dirt: #27291c;


$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:        $squashFlowerPetals;
$yellow:  #ffc107 !default;
$green:         $squashLeaves;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$lightBrown:    $coconutMulch;
$darkBrown:     $dirt;


$focusGreen: rgba(40, 167, 70, 0.623);
$focusGreen0: rgb(40, 167, 70);
$focusGreen1: rgba(40, 167, 70, 0.87);
$focusGreen2: rgba(40, 167, 70, 0.774);
$focusGreen3: rgba(40, 167, 70, 0.623);
$focusGreen4: rgba(40, 167, 70, 0.534);


$green0: #2e6d06;
$green1: #2d6d06e0;
$green2: #2d6d06b9;
$green3: #2d6d0698;
$green4: #2d6d0671;


$boxShadowColor: $gray-200;
$boxBorderColor: $gray-400;

// $oneBtnSuccessBackgroundColor: $gray-300;
// $oneBtnSuccessColor: $gray-800;
// $oneBtnSuccessBorderColor: $gray-400;

// $oneBtnSuccessHoverBackgroundColor: $gray-600;
// $oneBtnSuccessHoverBorderColor: $gray-700 ;

$oneBtnSuccessBackgroundColor: $gray-700;
$oneBtnSuccessBorderColor: $gray-800;
$oneBtnSuccessColor: $gray-200;

$oneBtnSuccessHoverBackgroundColor: $gray-600;
$oneBtnSuccessHoverBorderColor: $gray-700 ;
$oneBtnSuccessHoverColor: $gray-700;

$oneBtnSuccessActiveBackgroundColor: $gray-800;
$oneBtnSuccessActiveBorderColor: $gray-900 ;
