/* TGD Color Palette */

$squashFlowerPetals: #dfa214;
$squashFlowerCenter: #d29c18;

$squashLeaves: #2e6d06;
$squashLeavesDark: #33581d;
 
$squashStemDark: #9fb53a;
$squashStemDark: #9fb53a;
$squashStemLight: #e7f3a5;
$coconutMulch: #8b562e;
$dirt: #27291c;


$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:        $squashFlowerPetals;
$yellow:  #ffc107 !default;
$green:         $squashLeaves;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$lightBrown:    $coconutMulch;
$darkBrown:     $dirt;