// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Custom variables and mixins
@import './variables';
@import './mixins';

// Optional
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";

#navbar-brand{
    color: $darkBrown;
}

.dropdown-item {
    color:rgba(0, 0, 0, 0.5);
}
.dropdown-item:hover {
   color: rgba(0, 0, 0, 0.7);
}
@media (max-width: 768px){
    button:focus {
        background-color: rgba(226, 222, 222, 0.17);
        border-color: rgba(183, 179, 179, 0.47);
        outline: 5px auto rgba(99, 91, 91, 0.24);
    }
    .dropdown-item:focus {
            outline: 5px auto rgba(99, 91, 91, 0.24);
            background-color: rgba(226, 222, 222, 0.17);
    }
}



